body {
  background-color: #343a40;
  color: #fff;
}

.profileImage {
  height: 500px;
  width: auto;
}

.skill-icon {
  height: 40px;
  width: auto;
};

.bg-custom {
  background-color: #343a40;
}

.email {
  color: #fff;
  text-decoration: none;

}

.email:hover {
  text-decoration: underline #fff;
  color: #fff;
}